@import 'variables'

button
    background: transparent
    border: none
    outline: none
    cursor: pointer
    display: flex
    align-items: center
    justify-content: center
    color: grey
    transition: all .3s ease
    svg
        pointer-events: none
    &:hover
        color: black
.btn-primary, .btn-round, .btn-confirm
    background: $yellow
    align-self: flex-end
    margin-top: 1rem
    padding: .5rem 1rem
    border: 1px solid transparent
    color: black
    &:hover
        border: 1px solid black
        color: black
.close__modal
    font-size: 1rem
    padding: .5rem
    position: absolute
    top: 5px
    right: 5px

.btn-primary
    &.confirm
        background: none
        border: 1px solid silver
        &:hover 
            border: 1px solid black


.btn__add-book, .btn__save-book, .btn__add-category
    align-self: flex-end

.add-new-book
    align-self: flex-start

.btn-sort
    font-size: 15px
    color: black
select  
    cursor: pointer

input, select
    border: none
    border-bottom: 1px solid silver
    padding: .5rem 1rem
    &.filter-table
        width: 200px
        margin-left: .5rem
.btn-round
    border: 1px solid transparent
    width: 28px
    height: 28px
    border-radius: 50%
    font-size: 1rem
    margin: 0
    margin-left: auto
    margin-right: 7px
    padding: 0
    align-self: center

select.category
    width: 136px 
    margin: 0

.btn-white
    background-color: white