@import 'reset-css'
@import 'variables'
@import 'buttons'

body
    background-color: $lightWhite
    @include lightFont
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    font-size: 15px
    padding-bottom: 2rem
h1
    @include normalFont
    font-size: 2rem
    align-self: center
    margin: 1rem

h2
    font-weight: 400

.header, .main, .footer, .header__wrapper
    width: 100%
    max-width: 800px
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
.header
    padding: 1rem 0
    margin-bottom: 1rem
    max-width: 100%
    background-color: $yellow
.menu
    // align-self: flex-end
    display: flex
    flex-direction: row
    align-items: flex-end
    width: 100%

.books__table
    width: 100%
    border: 1px solid silver

.table__body
    tr
        &:nth-child(odd)
            background-color: $lighterWhite
        &:hover
            background-color: $darkWhite



.table__head th
    font-weight: 400
    font-size: 15px
    padding: .5rem 0
    text-align: center
    &.index
        width: 30px
    &.priority
        width: 60px
    &.add__date .btn-sort, &.priority .btn-sort
        margin: 0 auto
    &.add__date
        width: 105px
    &.options
        width: 100px

.table__body td
    vertical-align: middle
    word-break: break-word
    &:not(.id)
        padding: 0.5rem 0.3rem

    &.id, &.priority, &.addDate
        text-align: center
    &.category
        text-align: left
        width: 160px
    &.options
        text-align: center
        button
            display: inline
.modal
    box-shadow: 0 0 3px rgba(30,30,30,.5)
    position: fixed
    top: 0
    background-color: $lightWhite
    padding: 2rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    transform: translateY(-110%)
    transition: all .3s ease
    z-index: 5
    &-message
        z-index: 10
        width: 450px
        font-weight: 400
        &.modal-active
            top: 10%
        .message
            line-height: 1.1rem
    &-active
        top: 50%
        transform: translateY(-50%)
.modal__form
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 300px
    margin-top: 1rem
    label
        display: flex
        justify-content: space-between
        align-items: center
        width: 100%
        padding: .2rem .5rem
        &:hover
            background-color: $lighterWhite
        input
            text-align: left

.add-category__container
    z-index: 8

.no-records-info
    text-align: center

.footer
    align-items: flex-start

.filter-table__label
    margin-left: auto
    font-weight: 400
    font-size: 13px

.books__quantity
    font-weight: 400
    margin-bottom: 1rem

.message-confirm
    display: flex
    width: 150px
    justify-content: space-between

.categories__quantity
    width: 130px
    li
        width: 100%
        display: flex
        justify-content: space-between
        padding-top: 5px